In [ ]:
# as you can see current ram is 12GB only, to increase it run below code

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

DATA READING USING PANDAS CSV FILE

In [2]:
import pandas as pd

In [ ]:
df_check = pd.read_csv("/content/drive/MyDrive/ datasets/dataset/Updated_MLDataset.csv")

In [ ]:
df_check.drop('Unnamed: 0',inplace=True, axis=1)

In [ ]:
df_check.head(10)

,PRODUCT_ID,PRODUCT_TYPE_ID,TEXT,PRODUCT_LENGTH,CLEAN_TEXT
0,1925202,1650,ArtzFolio Tulip Flowers Blackout Curtain for D...,2125.980000,ArtzFolio Tulip Flowers Blackout Curtain for D...
1,2673191,2755,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,393.700000,Marks Spencer Girls' Pyjama Sets TCNavy Mix-Y ...
2,2765088,7537,PRIKNIK Horn Red Electric Air Horn Compressor ...,748.031495,PRIKNIK Horn Red Electric Air Horn Compressor ...
3,1594019,2996,ALISHAH Women's Cotton Ankle Length Leggings C...,787.401574,ALISHAH Women's Cotton Ankle Length Leggings C...
4,283658,6112,The United Empire Loyalists: A Chronicle of th...,598.424000,The United Empire Loyalists A Chronicle of the...
5,2152929,5725,HINS Metal Bucket Shape Plant Pot for Indoor &...,950.000000,HINS Metal Bucket Shape Plant Pot for Indoor O...
6,413758,23,Ungifted: My Life and Journey,598.000000,Ungifted My Life and Journey
7,2026580,6030,Delavala Self Adhesive Kitchen Backsplash Wall...,984.251967,Delavala Self Adhesive Kitchen Backsplash Wall...
8,2050239,3302,PUMA Cali Sport Clean Women's Sneakers White L...,393.700000,PUMA Cali Sport Clean Women's Sneakers White L...
9,2998633,8201,Hexwell Essential oil for Home Fragrance Oil A...,393.700787,Hexwell Essential oil for Home Fragrance Oil A...

In [ ]:
df_check.isnull().sum()

PRODUCT_ID           0
PRODUCT_TYPE_ID      0
TEXT                 0
PRODUCT_LENGTH       0
CLEAN_TEXT         741
dtype: int64

In [ ]:
nulled_data = df_check[df_check["CLEAN_TEXT"].isnull() == True]

In [ ]:
df_check[df_check["PRODUCT_ID"] == 543678]

,PRODUCT_ID,PRODUCT_TYPE_ID,TEXT,PRODUCT_LENGTH,CLEAN_TEXT
2192995,543678,12403,2 साल के बच्चों के लिए रंग भरने वाली किताबें (...,850.0,NaN

In [ ]:
nulled_data.tail(20)

,PRODUCT_ID,PRODUCT_TYPE_ID,TEXT,PRODUCT_LENGTH,CLEAN_TEXT
2192995,543678,12403,2 साल के बच्चों के लिए रंग भरने वाली किताबें (...,850.000000,NaN
2196693,1880762,99,இந்தக் குளத்தில் கல்லெறிந்தவர்கள்,842.519684,NaN
2196702,1351783,3,5150,675.000000,NaN
2197664,2534142,110,"जज़्बात ए दिल """" तेरे दिल तक पहुंचे मेरे दिल के...",787.401574,NaN
2204382,731933,6314,Рассказы о Надежде?,590.550000,NaN
2205402,362231,123,1 2 3,600.000000,NaN
2209745,940742,804,15,556.000000,NaN
2210298,675229,1,Фитнес для эмоций или Оздоровительная психолог...,591.000000,NaN
2211985,722611,80,Вязание детских вещей от 3 до 6 лет,583.000000,NaN
2215683,724956,99,Стоик. Трилогия желания. ... кни&),583.000000,NaN
2220303,719213,87,革新的な不動産マッチングのアイデア:不動産仲介を容易に: 不動産のマッチング:革新的な不動産...,500.000000,NaN
2222573,788756,100,.,39.370000,NaN
2226300,860174,1027,4299082923,525.000000,NaN
2232278,723435,224,Радищев и его книга: Путешествие из Петербурга...,583.000000,NaN
2233722,796524,7,1935,550.000000,NaN
2240375,722675,0,Из истории романа и ... Выпуск 1,825.000000,NaN
2240848,1184408,829,نساك موتك,550.000000,NaN
2244676,529645,28,السلطات الإدارية ... الع&#1585,600.000000,NaN
2246067,622901,12743,115,437.007000,NaN
2248811,732773,1,?????????????????????????? ?????????????????? ...,590.550000,NaN

INSTALLATION OF PYSPARK USING PYPI COMMANDS

In [3]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=7709f00bb51ac8f253c742760502f6a68b4fef801e0e11dd4a71427db5e0a339
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [4]:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from pyspark.ml.feature import CountVectorizer,StringIndexer, RegexTokenizer,StopWordsRemover,Tokenizer,IDF

CREATION OF SPARK SESSION

In [5]:
#spark = SparkSession.builder.appName('ml_nlp').getOrCreate()
spark = SparkSession.builder.master("local[*]").config("spark.executor.memory", "200g").config("spark.driver.memory", "100g").config("spark.memory.offHeap.enabled","true").config("spark.memory.offHeap.size","50g") .appName("ml-nlp1").getOrCreate()
'''spark = SparkSession.builder \
    .master("local[*]") \
    .appName("ml-nlp1") \
    .getOrCreate()'''

'spark = SparkSession.builder     .master("local[*]")     .appName("ml-nlp1")     .getOrCreate()'

In [6]:
spark

In [7]:
file_path = "/content/drive/MyDrive/ datasets/dataset/Updated_MLDataset.csv"

In [ ]:
#convert pandas dataframe df_check to pyspark dataframe
dataframe_spark = spark.createDataFrame(df_check)

In [8]:
dataframe_spark = spark.read.csv(file_path,inferSchema=True, header=True)

In [9]:
dataframe_spark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- PRODUCT_ID: integer (nullable = true)
 |-- PRODUCT_TYPE_ID: integer (nullable = true)
 |-- TEXT: string (nullable = true)
 |-- PRODUCT_LENGTH: string (nullable = true)
 |-- CLEAN_TEXT: string (nullable = true)

In [10]:
from pyspark.sql.functions import col,isnan, when, count,isnull
dataframe_spark.select([count(when(isnull(c), c)).alias(c) for c in dataframe_spark.columns]).show()

+---+----------+---------------+----+--------------+----------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|TEXT|PRODUCT_LENGTH|CLEAN_TEXT|
+---+----------+---------------+----+--------------+----------+
|  0|         0|              0|   0|           106|       849|
+---+----------+---------------+----+--------------+----------+

In [11]:
dataframe_spark.show(20)

+---+----------+---------------+--------------------+--------------+--------------------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|                TEXT|PRODUCT_LENGTH|          CLEAN_TEXT|
+---+----------+---------------+--------------------+--------------+--------------------+
|  0|   1925202|           1650|ArtzFolio Tulip F...|       2125.98|ArtzFolio Tulip F...|
|  1|   2673191|           2755|Marks & Spencer G...|         393.7|Marks Spencer Gir...|
|  2|   2765088|           7537|PRIKNIK Horn Red ...|   748.0314953|PRIKNIK Horn Red ...|
|  3|   1594019|           2996|ALISHAH Women's C...|    787.401574|ALISHAH Women's C...|
|  4|    283658|           6112|The United Empire...|       598.424|The United Empire...|
|  5|   2152929|           5725|HINS Metal Bucket...|         950.0|HINS Metal Bucket...|
|  6|    413758|             23|Ungifted: My Life...|         598.0|Ungifted My Life ...|
|  7|   2026580|           6030|Delavala Self Adh...|   984.2519675|Delavala Self Adh...|
|  8|   2050239|           3302|PUMA Cali Sport C...|         393.7|PUMA Cali Sport C...|
|  9|   2998633|           8201|Hexwell Essential...|    393.700787|Hexwell Essential...|
| 10|   2857066|          10359|3NH® Glasses Gogg...|   590.5511805|NH Glasses Goggle...|
| 11|    833712|              1|La Mure / Valbonn...|        433.07|La Mure Valbonnai...|
| 12|    648364|              1|J'ecris des lettr...|       759.841|J'ecris des lettr...|
| 13|   1991694|             32|Mediterranean die...|         600.0|Mediterranean die...|
| 14|   2790448|           1273|SEGOVIA Single Wa...|   314.9606296|SEGOVIA Single Wa...|
| 15|   1810976|              6|Stone & Beam Fan ...|         670.0|Stone Beam Fan Em...|
| 16|   1262926|              0|Star Trek 50th An...|         100.0|Star Trek th Anni...|
| 17|   1491106|           8046|Steelbird Hi-Gn S...|      1240.155|Steelbird Hi-Gn S...|
| 18|   1543564|           3247|Kenneth Cole REAC...|         500.0|Kenneth Cole REAC...|
| 19|    793582|            716|MASTER OF THE RIN...|         750.0|MASTER OF THE RIN...|
+---+----------+---------------+--------------------+--------------+--------------------+
only showing top 20 rows

REMOVING NULL VALUES FROM DATASET

In [43]:
import gc 
#del nulled_data
gc.collect()

251

In [10]:
updated_data = dataframe_spark.dropna(how="any")

In [11]:
updated_data.count()

2248746

In [ ]:
dataframe_spark.count()

2249698

TOKENIZATION

In [12]:
tokenizer = Tokenizer(inputCol="CLEAN_TEXT",outputCol="TOKENS")
t = tokenizer.transform(updated_data)

In [13]:
t.show(5)

+---+----------+---------------+--------------------+--------------+--------------------+--------------------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|                TEXT|PRODUCT_LENGTH|          CLEAN_TEXT|              TOKENS|
+---+----------+---------------+--------------------+--------------+--------------------+--------------------+
|  0|   1925202|           1650|ArtzFolio Tulip F...|       2125.98|ArtzFolio Tulip F...|[artzfolio, tulip...|
|  1|   2673191|           2755|Marks & Spencer G...|         393.7|Marks Spencer Gir...|[marks, spencer, ...|
|  2|   2765088|           7537|PRIKNIK Horn Red ...|   748.0314953|PRIKNIK Horn Red ...|[priknik, horn, r...|
|  3|   1594019|           2996|ALISHAH Women's C...|    787.401574|ALISHAH Women's C...|[alishah, women's...|
|  4|    283658|           6112|The United Empire...|       598.424|The United Empire...|[the, united, emp...|
+---+----------+---------------+--------------------+--------------+--------------------+--------------------+
only showing top 5 rows

STOPWORDS REMOVAL

In [14]:
remover = StopWordsRemover(inputCol="TOKENS", outputCol="UPDATED_TOKENS")
words_df = remover.transform(t)

In [15]:
words_df.show()

+---+----------+---------------+--------------------+--------------+--------------------+--------------------+--------------------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|                TEXT|PRODUCT_LENGTH|          CLEAN_TEXT|              TOKENS|      UPDATED_TOKENS|
+---+----------+---------------+--------------------+--------------+--------------------+--------------------+--------------------+
|  0|   1925202|           1650|ArtzFolio Tulip F...|       2125.98|ArtzFolio Tulip F...|[artzfolio, tulip...|[artzfolio, tulip...|
|  1|   2673191|           2755|Marks & Spencer G...|         393.7|Marks Spencer Gir...|[marks, spencer, ...|[marks, spencer, ...|
|  2|   2765088|           7537|PRIKNIK Horn Red ...|   748.0314953|PRIKNIK Horn Red ...|[priknik, horn, r...|[priknik, horn, r...|
|  3|   1594019|           2996|ALISHAH Women's C...|    787.401574|ALISHAH Women's C...|[alishah, women's...|[alishah, women's...|
|  4|    283658|           6112|The United Empire...|       598.424|The United Empire...|[the, united, emp...|[united, empire, ...|
|  5|   2152929|           5725|HINS Metal Bucket...|         950.0|HINS Metal Bucket...|[hins, metal, buc...|[hins, metal, buc...|
|  6|    413758|             23|Ungifted: My Life...|         598.0|Ungifted My Life ...|[ungifted, my, li...|[ungifted, life, ...|
|  7|   2026580|           6030|Delavala Self Adh...|   984.2519675|Delavala Self Adh...|[delavala, self, ...|[delavala, self, ...|
|  8|   2050239|           3302|PUMA Cali Sport C...|         393.7|PUMA Cali Sport C...|[puma, cali, spor...|[puma, cali, spor...|
|  9|   2998633|           8201|Hexwell Essential...|    393.700787|Hexwell Essential...|[hexwell, essenti...|[hexwell, essenti...|
| 10|   2857066|          10359|3NH® Glasses Gogg...|   590.5511805|NH Glasses Goggle...|[nh, glasses, gog...|[nh, glasses, gog...|
| 11|    833712|              1|La Mure / Valbonn...|        433.07|La Mure Valbonnai...|[la, mure, valbon...|[la, mure, valbon...|
| 12|    648364|              1|J'ecris des lettr...|       759.841|J'ecris des lettr...|[j'ecris, des, le...|[j'ecris, des, le...|
| 13|   1991694|             32|Mediterranean die...|         600.0|Mediterranean die...|[mediterranean, d...|[mediterranean, d...|
| 14|   2790448|           1273|SEGOVIA Single Wa...|   314.9606296|SEGOVIA Single Wa...|[segovia, single,...|[segovia, single,...|
| 15|   1810976|              6|Stone & Beam Fan ...|         670.0|Stone Beam Fan Em...|[stone, beam, fan...|[stone, beam, fan...|
| 16|   1262926|              0|Star Trek 50th An...|         100.0|Star Trek th Anni...|[star, trek, th, ...|[star, trek, th, ...|
| 17|   1491106|           8046|Steelbird Hi-Gn S...|      1240.155|Steelbird Hi-Gn S...|[steelbird, hi-gn...|[steelbird, hi-gn...|
| 18|   1543564|           3247|Kenneth Cole REAC...|         500.0|Kenneth Cole REAC...|[kenneth, cole, r...|[kenneth, cole, r...|
| 19|    793582|            716|MASTER OF THE RIN...|         750.0|MASTER OF THE RIN...|[master, of, the,...|[master, rings, m...|
+---+----------+---------------+--------------------+--------------+--------------------+--------------------+--------------------+
only showing top 20 rows

HASHINGTF VECTORIZATION USING PYSPARK

In [16]:
from pyspark.ml.feature import HashingTF, IDF, Tokenizer

In [17]:
hash_it = HashingTF(inputCol="UPDATED_TOKENS", outputCol="FEATURES")
result = hash_it.transform(words_df)

In [18]:
result.select("UPDATED_TOKENS","FEATURES").show()

+--------------------+--------------------+
|      UPDATED_TOKENS|            FEATURES|
+--------------------+--------------------+
|[artzfolio, tulip...|(262144,[1797,201...|
|[marks, spencer, ...|(262144,[20161,25...|
|[priknik, horn, r...|(262144,[9788,105...|
|[alishah, women's...|(262144,[2425,302...|
|[united, empire, ...|(262144,[13463,71...|
|[hins, metal, buc...|(262144,[2019,366...|
|[ungifted, life, ...|(262144,[71530,13...|
|[delavala, self, ...|(262144,[1469,208...|
|[puma, cali, spor...|(262144,[24698,44...|
|[hexwell, essenti...|(262144,[3564,112...|
|[nh, glasses, gog...|(262144,[22999,24...|
|[la, mure, valbon...|(262144,[67603,12...|
|[j'ecris, des, le...|(262144,[719,2998...|
|[mediterranean, d...|(262144,[88845,96...|
|[segovia, single,...|(262144,[4176,100...|
|[stone, beam, fan...|(262144,[16806,25...|
|[star, trek, th, ...|(262144,[64208,64...|
|[steelbird, hi-gn...|(262144,[1705,396...|
|[kenneth, cole, r...|(262144,[12285,67...|
|[master, rings, m...|(262144,[28883,23...|
+--------------------+--------------------+
only showing top 20 rows

TFIDF VECTORIZATION

In [19]:
idf = IDF(inputCol="FEATURES", outputCol="UPDATED_FEATURES").fit(result)
UpdatedData_spark = idf.transform(result)

In [20]:
UpdatedData_spark.show()

+---+----------+---------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|                TEXT|PRODUCT_LENGTH|          CLEAN_TEXT|              TOKENS|      UPDATED_TOKENS|            FEATURES|    UPDATED_FEATURES|
+---+----------+---------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  0|   1925202|           1650|ArtzFolio Tulip F...|       2125.98|ArtzFolio Tulip F...|[artzfolio, tulip...|[artzfolio, tulip...|(262144,[1797,201...|(262144,[1797,201...|
|  1|   2673191|           2755|Marks & Spencer G...|         393.7|Marks Spencer Gir...|[marks, spencer, ...|[marks, spencer, ...|(262144,[20161,25...|(262144,[20161,25...|
|  2|   2765088|           7537|PRIKNIK Horn Red ...|   748.0314953|PRIKNIK Horn Red ...|[priknik, horn, r...|[priknik, horn, r...|(262144,[9788,105...|(262144,[9788,105...|
|  3|   1594019|           2996|ALISHAH Women's C...|    787.401574|ALISHAH Women's C...|[alishah, women's...|[alishah, women's...|(262144,[2425,302...|(262144,[2425,302...|
|  4|    283658|           6112|The United Empire...|       598.424|The United Empire...|[the, united, emp...|[united, empire, ...|(262144,[13463,71...|(262144,[13463,71...|
|  5|   2152929|           5725|HINS Metal Bucket...|         950.0|HINS Metal Bucket...|[hins, metal, buc...|[hins, metal, buc...|(262144,[2019,366...|(262144,[2019,366...|
|  6|    413758|             23|Ungifted: My Life...|         598.0|Ungifted My Life ...|[ungifted, my, li...|[ungifted, life, ...|(262144,[71530,13...|(262144,[71530,13...|
|  7|   2026580|           6030|Delavala Self Adh...|   984.2519675|Delavala Self Adh...|[delavala, self, ...|[delavala, self, ...|(262144,[1469,208...|(262144,[1469,208...|
|  8|   2050239|           3302|PUMA Cali Sport C...|         393.7|PUMA Cali Sport C...|[puma, cali, spor...|[puma, cali, spor...|(262144,[24698,44...|(262144,[24698,44...|
|  9|   2998633|           8201|Hexwell Essential...|    393.700787|Hexwell Essential...|[hexwell, essenti...|[hexwell, essenti...|(262144,[3564,112...|(262144,[3564,112...|
| 10|   2857066|          10359|3NH® Glasses Gogg...|   590.5511805|NH Glasses Goggle...|[nh, glasses, gog...|[nh, glasses, gog...|(262144,[22999,24...|(262144,[22999,24...|
| 11|    833712|              1|La Mure / Valbonn...|        433.07|La Mure Valbonnai...|[la, mure, valbon...|[la, mure, valbon...|(262144,[67603,12...|(262144,[67603,12...|
| 12|    648364|              1|J'ecris des lettr...|       759.841|J'ecris des lettr...|[j'ecris, des, le...|[j'ecris, des, le...|(262144,[719,2998...|(262144,[719,2998...|
| 13|   1991694|             32|Mediterranean die...|         600.0|Mediterranean die...|[mediterranean, d...|[mediterranean, d...|(262144,[88845,96...|(262144,[88845,96...|
| 14|   2790448|           1273|SEGOVIA Single Wa...|   314.9606296|SEGOVIA Single Wa...|[segovia, single,...|[segovia, single,...|(262144,[4176,100...|(262144,[4176,100...|
| 15|   1810976|              6|Stone & Beam Fan ...|         670.0|Stone Beam Fan Em...|[stone, beam, fan...|[stone, beam, fan...|(262144,[16806,25...|(262144,[16806,25...|
| 16|   1262926|              0|Star Trek 50th An...|         100.0|Star Trek th Anni...|[star, trek, th, ...|[star, trek, th, ...|(262144,[64208,64...|(262144,[64208,64...|
| 17|   1491106|           8046|Steelbird Hi-Gn S...|      1240.155|Steelbird Hi-Gn S...|[steelbird, hi-gn...|[steelbird, hi-gn...|(262144,[1705,396...|(262144,[1705,396...|
| 18|   1543564|           3247|Kenneth Cole REAC...|         500.0|Kenneth Cole REAC...|[kenneth, cole, r...|[kenneth, cole, r...|(262144,[12285,67...|(262144,[12285,67...|
| 19|    793582|            716|MASTER OF THE RIN...|         750.0|MASTER OF THE RIN...|[master, of, the,...|[master, rings, m...|(262144,[28883,23...|(262144,[28883,23...|
+---+----------+---------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [21]:
UpdatedData_spark.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- PRODUCT_ID: integer (nullable = true)
 |-- PRODUCT_TYPE_ID: integer (nullable = true)
 |-- TEXT: string (nullable = true)
 |-- PRODUCT_LENGTH: string (nullable = true)
 |-- CLEAN_TEXT: string (nullable = true)
 |-- TOKENS: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- UPDATED_TOKENS: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- FEATURES: vector (nullable = true)
 |-- UPDATED_FEATURES: vector (nullable = true)

In [24]:
from pyspark.sql.functions import col,isnan, when, count,isnull
UpdatedData_spark.select([count(when(isnull(c), c)).alias(c) for c in UpdatedData_spark.columns]).show()

+---+----------+---------------+----+--------------+----------+------+--------------+--------+----------------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|TEXT|PRODUCT_LENGTH|CLEAN_TEXT|TOKENS|UPDATED_TOKENS|FEATURES|UPDATED_FEATURES|
+---+----------+---------------+----+--------------+----------+------+--------------+--------+----------------+
|  0|         0|              0|   0|             0|         0|     0|             0|       0|               0|
+---+----------+---------------+----+--------------+----------+------+--------------+--------+----------------+

In [ ]:
#storing data inform of csv file
impt_path = "/content/drive/MyDrive/ datasets/dataset/file"
UpdatedData_spark.write.format("parquet").save(impt_path)

MODEL BUILDING

In [22]:
from pyspark.ml import Pipeline
from pyspark.ml.regression import RandomForestRegressor,LinearRegression
from pyspark.ml.feature import VectorAssembler

In [23]:
#Vector Assembler to seperate training and test data
vectorAssembler = VectorAssembler(inputCols = ["PRODUCT_TYPE_ID", "UPDATED_FEATURES"],outputCol="INPUT_LABELS")
modified_data = vectorAssembler.transform(UpdatedData_spark)

In [ ]:
from pyspark.sql.functions import col,isnan, when, count,isnull
modified_data.select([count(when(isnull(c), c)).alias(c) for c in modified_data.columns]).show()

+---+----------+---------------+----+--------------+----------+------+--------------+--------+----------------+------------+
|_c0|PRODUCT_ID|PRODUCT_TYPE_ID|TEXT|PRODUCT_LENGTH|CLEAN_TEXT|TOKENS|UPDATED_TOKENS|FEATURES|UPDATED_FEATURES|INPUT_LABELS|
+---+----------+---------------+----+--------------+----------+------+--------------+--------+----------------+------------+
|  0|         0|              0|   0|             0|         0|     0|             0|       0|               0|           0|
+---+----------+---------------+----+--------------+----------+------+--------------+--------+----------------+------------+

In [24]:
final_data = modified_data.select("INPUT_LABELS","PRODUCT_LENGTH")

In [25]:
final_data = final_data.withColumn("PRODUCT_LENGTH_DOUBLE", final_data["PRODUCT_LENGTH"].cast('double'))

In [ ]:
from pyspark.sql.functions import col,isnan, when, count,isnull
final_data.select([count(when(isnull(c), c)).alias(c) for c in final_data.columns]).show()

In [26]:
final_data.printSchema()

root
 |-- INPUT_LABELS: vector (nullable = true)
 |-- PRODUCT_LENGTH: string (nullable = true)
 |-- PRODUCT_LENGTH_DOUBLE: double (nullable = true)

In [27]:
final_data.show()

+--------------------+--------------+---------------------+
|        INPUT_LABELS|PRODUCT_LENGTH|PRODUCT_LENGTH_DOUBLE|
+--------------------+--------------+---------------------+
|(262145,[0,1798,2...|       2125.98|              2125.98|
|(262145,[0,20162,...|         393.7|                393.7|
|(262145,[0,9789,1...|   748.0314953|          748.0314953|
|(262145,[0,2426,3...|    787.401574|           787.401574|
|(262145,[0,13464,...|       598.424|              598.424|
|(262145,[0,2020,3...|         950.0|                950.0|
|(262145,[0,71531,...|         598.0|                598.0|
|(262145,[0,1470,2...|   984.2519675|          984.2519675|
|(262145,[0,24699,...|         393.7|                393.7|
|(262145,[0,3565,1...|    393.700787|           393.700787|
|(262145,[0,23000,...|   590.5511805|          590.5511805|
|(262145,[0,67604,...|        433.07|               433.07|
|(262145,[0,720,29...|       759.841|              759.841|
|(262145,[0,88846,...|         600.0|                600.0|
|(262145,[0,4177,1...|   314.9606296|          314.9606296|
|(262145,[0,16807,...|         670.0|                670.0|
|(262145,[64209,64...|         100.0|                100.0|
|(262145,[0,1706,3...|      1240.155|             1240.155|
|(262145,[0,12286,...|         500.0|                500.0|
|(262145,[0,28884,...|         750.0|                750.0|
+--------------------+--------------+---------------------+
only showing top 20 rows

In [28]:
final_data2 = final_data.select("INPUT_LABELS","PRODUCT_LENGTH_DOUBLE")

In [29]:
final_data2.show()

+--------------------+---------------------+
|        INPUT_LABELS|PRODUCT_LENGTH_DOUBLE|
+--------------------+---------------------+
|(262145,[0,1798,2...|              2125.98|
|(262145,[0,20162,...|                393.7|
|(262145,[0,9789,1...|          748.0314953|
|(262145,[0,2426,3...|           787.401574|
|(262145,[0,13464,...|              598.424|
|(262145,[0,2020,3...|                950.0|
|(262145,[0,71531,...|                598.0|
|(262145,[0,1470,2...|          984.2519675|
|(262145,[0,24699,...|                393.7|
|(262145,[0,3565,1...|           393.700787|
|(262145,[0,23000,...|          590.5511805|
|(262145,[0,67604,...|               433.07|
|(262145,[0,720,29...|              759.841|
|(262145,[0,88846,...|                600.0|
|(262145,[0,4177,1...|          314.9606296|
|(262145,[0,16807,...|                670.0|
|(262145,[64209,64...|                100.0|
|(262145,[0,1706,3...|             1240.155|
|(262145,[0,12286,...|                500.0|
|(262145,[0,28884,...|                750.0|
+--------------------+---------------------+
only showing top 20 rows

In [30]:
final_data2.printSchema()

root
 |-- INPUT_LABELS: vector (nullable = true)
 |-- PRODUCT_LENGTH_DOUBLE: double (nullable = true)

REMOVING NULL VALUES FROM PRODUCT LENGTH DOUBLE

In [31]:
final_data3 = final_data2.dropna(how="any")

In [32]:
final_data3.count()

1988588

TRAIN TEST SPLIT

In [33]:
train_data, test_data = final_data3.randomSplit([0.8,0.2])

In [ ]:
from pyspark.sql.functions import col,isnan, when, count,isnull
train_data.select([count(when(isnull(c), c)).alias(c) for c in train_data.columns]).show()

BUILD LINEAR REGRESSION MODEL

In [34]:
lr = LinearRegression(featuresCol="INPUT_LABELS",labelCol="PRODUCT_LENGTH_DOUBLE")

BUILD REGRESSION MODEL FOR 5 LAKH ENTRIES OF DATASET

In [35]:
df_collect = train_data.limit(100)

In [36]:
df_collect.printSchema()

root
 |-- INPUT_LABELS: vector (nullable = true)
 |-- PRODUCT_LENGTH_DOUBLE: double (nullable = true)

In [37]:
lrmodel = lr.fit(df_collect)

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.9/dist-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/usr/local/lib/python3.9/dist-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

Py4JError: ignored

In [38]:
spark.stop()

ConnectionRefusedError: ignored